/* *{
    margin: 0;
    padding: 0;    
}

body{
    background: #E5E5E5;    
}
.container{
    background: #004980;
    max-width: 1024px;
    height: 774px;
    
}
.center{
    padding-left: calc(50% - 612px);
    padding-right: calc(50% - 612px);
} */